<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <a [routerLink]="['/home']" routerLinkActive="router-link-active">
      <img alt="logo" class="logo" src="assets/audio-ad-logo.jpeg" />
    </a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="section">
    <div class="postings">
      <div class="add">
        <ion-icon name="document-text-outline"></ion-icon>
        <p>AD Postings</p>
        <p class="count">2</p>
      </div>

      <div class="completed">
        <p>Completed</p>
        <p class="count">20</p>
      </div>
    </div>

    <div class="add-posting">
      <p>Add Posting</p>
      <ion-icon name="add-circle-outline"></ion-icon>
    </div>

    <div class="post-card">
      <div class="post">
        <div class="post-counts">
          <div>
            <p>0</p>
            <ion-icon name="document-text-outline"></ion-icon>
          </div>

          <div>
            <p>2</p>
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          </div>

          <div>
            <p>Live</p>
          </div>
        </div>
        <p class="title">
          Toyota 4*4 wheel for sale with 33000km locate in delhi
        </p>
        <div class="post-bottom">
          <small>Published a day before</small>
          <small>Kukatpally, Hyderabad</small>
        </div>
      </div>
      <ion-icon class="post-inner" name="chevron-forward-circle"></ion-icon>
    </div>

    <div class="post-card">
      <div class="post">
        <div class="post-counts">
          <div>
            <p>0</p>
            <ion-icon name="document-text-outline"></ion-icon>
          </div>

          <div>
            <p>2</p>
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          </div>

          <div>
            <p><ion-icon name="trash" class="delete"></ion-icon> Delete</p>
          </div>
        </div>
        <p class="title">
          Toyota 4*4 wheel for sale with 33000km locate in delhi
        </p>
        <div class="post-bottom">
          <small>Published a day before</small>
          <small>Kukatpally, Hyderabad</small>
        </div>
      </div>
      <ion-icon class="post-inner" name="chevron-forward-circle"></ion-icon>
    </div>

    <div class="post-card">
      <div class="post">
        <div class="post-counts">
          <div>
            <p>0</p>
            <ion-icon name="document-text-outline"></ion-icon>
          </div>

          <div>
            <p>2</p>
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          </div>

          <div>
            <p>Stopped</p>
          </div>
        </div>
        <p class="title">
          Toyota 4*4 wheel for sale with 33000km locate in delhi
        </p>
        <div class="post-bottom">
          <small>Published a day before</small>
          <small>Kukatpally, Hyderabad</small>
        </div>
      </div>
      <ion-icon class="post-inner" name="chevron-forward-circle"></ion-icon>
    </div>

    <div class="post-card">
      <div class="post">
        <div class="post-counts">
          <div>
            <p>0</p>
            <ion-icon name="document-text-outline"></ion-icon>
          </div>

          <div>
            <p>2</p>
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          </div>

          <div>
            <p>Completed</p>
          </div>
        </div>
        <p class="title">
          Toyota 4*4 wheel for sale with 33000km locate in delhi
        </p>
        <div class="post-bottom">
          <small>Published a day before</small>
          <small>Kukatpally, Hyderabad</small>
        </div>
      </div>
      <ion-icon class="post-inner" name="chevron-forward-circle"></ion-icon>
    </div>
  </div>
</ion-content>
