<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <a [routerLink]="['/home']" routerLinkActive="router-link-active">
      <img alt="logo" class="logo" src="assets/audio-ad-logo.jpeg"
    /></a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="post">
    <div class="owner-details">
      <div class="card">
        <h6>Post by Satya Vasireddy</h6>
        <p>Joined a year back</p>
        <p>Listings: 04</p>
      </div>
      <img
        alt="logo"
        class="logo"
        src="https://miro.medium.com/max/1400/0*0fClPmIScV5pTLoE.jpg"
      />
    </div>

    <div class="head">
      <div class="card" (click)="navigateTo('/post')">
        <div class="recordings">
          <ion-slides
            [pager]="true"
            (ionSlideWillChange)="onSlideWillChange()"
            (ionSlideDidChange)="onSlideDidChange()"
          >
            <ion-slide
              ><div><img alt="logo" class="logo" src="assets/audio.png" /></div
            ></ion-slide>
            <ion-slide
              ><div><img alt="logo" class="logo" src="assets/audio.png" /></div
            ></ion-slide>
            <ion-slide
              ><div><img alt="logo" class="logo" src="assets/audio.png" /></div
            ></ion-slide>
            <ion-slide
              ><div><img alt="logo" class="logo" src="assets/audio.png" /></div
            ></ion-slide>
            <ion-slide
              ><div><img alt="logo" class="logo" src="assets/audio.png" /></div
            ></ion-slide>
          </ion-slides>
        </div>

        <ion-icon class="play" name="play"></ion-icon>
        <div class="card-bottom">
          <div class="card-title">
            <h4>Data Science Trainer Available</h4>
            <p>published a day before</p>
          </div>
        </div>
      </div>
    </div>

    <div class="description">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.
      </p>
    </div>

    <div class="actions">
      <div class="action">
        <ion-icon name="location-outline"></ion-icon>
        <div class="content">
          <h6>Location</h6>
          <p>Kukatpally</p>
        </div>
        <button>Action</button>
      </div>
      <div class="action">
        <ion-icon name="copy-outline"></ion-icon>
        <div class="content">
          <h6>Coupon Code</h6>
          <p>LOVE10 <br /><small>valid upto 14 August 2021</small></p>
        </div>
        <button>Action</button>
      </div>
      <div class="action">
        <ion-icon name="card-outline"></ion-icon>
        <div class="content">
          <h6>Buy</h6>
          <p>190$</p>
        </div>
        <button>Action</button>
      </div>
      <div class="action">
        <ion-icon name="medal-outline"></ion-icon>
        <div class="content">
          <h6>New Course</h6>
          <p>recently added courses considered as new</p>
        </div>
        <button>Action</button>
      </div>
      <div class="action">
        <ion-icon name="information-outline"></ion-icon>
        <div class="content">
          <h6>Information</h6>
          <p>check user information</p>
        </div>
        <button>Action</button>
      </div>
      <div class="action">
        <ion-icon name="document-lock-outline"></ion-icon>
        <div class="content">
          <h6>Lead</h6>
          <p>Connect with lead directly from here</p>
        </div>
        <button>Action</button>
      </div>
      <div class="action">
        <ion-icon name="person-circle-outline"></ion-icon>
        <div class="content">
          <h6>Contact</h6>
          <p>owner contact details</p>
        </div>
        <button>Action</button>
      </div>
    </div>

    <div class="image">
      <img />
    </div>
  </div>
</ion-content>
